header{
  text-align: center;
  color: #203556;
  background-color: #5781bf;
}
body{
  text-align: left;
  background-color: #afc3e1;
  font-family: Garamond, serif;
  color: #203556;
  border: double 10px #5e87c4;
}
a{
  color: #eff3f9;
}
hr{
  color: #5e87c4;
}
footer{
  background-color: #5781bf;
  color: #203556;
}
img{
  border: 5px solid #5e87c4;
}
table{
  margin-left:auto;margin-right: auto;
}
