header{
  text-align: center;
  color: #ce9d9d;
  background-color: #ad5d5d;
}
body{
  text-align: left;
  background-color: #ad5d5d;
  font-family: Garamond, serif;
  color: #ce9d9d;
  border: double 10px #efdede;
}
a{
  color: #39609a;
}
hr{
  color: #5e87c4;
}
footer{
  background-color: #ad5d5d;
  color: #ce9d9d;
}
