
header{
  text-align: left;
  color: #ead1e1;
  background-color: #dbb1cd;
}
body{
  text-align: left;
  background-color: #dbb1cd;
  font-family: Garamond, serif;
  color: #ead1e1;
  border: double 5px #a34b86;
}
a{
  color: #883f70;
}
hr{
  color: #b6609a;
}
footer{
  background-color: #dbb1cd;
  color: #ead1e1;
}
